/*--------------------------------------*
 * variable
 *--------------------------------------*/
/*--------------------------------------*
 * header
 *--------------------------------------*/
.l-header__heading {
  position: relative;
  z-index: 1;
  padding-top: 24px;
  background-color: #C5E7F5;
}
.l-header__sub-heading {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 32px;
  position: relative;
}
.l-header__logo {
  width: 149px;
}
.l-header__lang-select {
  width: 120px;
  left: 85%;
  top: 0;
  position: absolute;
  z-index: 5;
}
.l-header__lang-select.is-open {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0.5px 15px 1px #b0afaf;
}
.l-header__lang-list-selected {
  position: relative;
  text-align: center;
  color: #576573;
  font-size: 14px;
  padding: 12px 8px;
}
.l-header__lang-list-selected:hover {
  cursor: pointer;
}
.l-header__lang-list-selected::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 90px;
  width: 2px;
  height: 12px;
  background-color: #576573;
}
.l-header__lang-list-selected::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 100px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #576573;
}
.l-header__lang-list-unselected {
  display: none;
  font-size: 14px;
}
.l-header__lang-list-unselected li {
  padding: 12px 8px;
}
.l-header__lang-list-unselected li:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}
.l-header__lang-list-unselected li a {
  text-decoration: none;
  color: #576573;
}
.l-header__lang-list-unselected.is-open {
  display: block;
}
.l-header__main {
  height: 287px;
}
.l-header__main-text {
  margin: 0 32px;
  z-index: 3;
  position: relative;
}
.l-header__title {
  margin: 48px auto 29px 32px;
  z-index: 4;
  position: relative;
}
.l-header__description {
  margin-left: 32px;
  width: 47.5%;
  font-size: 14px;
}
.l-header__main-view {
  position: relative;
  top: -220px;
  z-index: 2;
  width: 1000px;
  margin: 0 auto;
}
.l-header__menu {
  background-color: #FFFFFF;
}
.l-header__menu-content {
  display: flex;
  margin: 60px auto 48px auto;
  align-items: center;
  justify-content: center;
}
.l-header__menu-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
}
.l-header__menu-nav {
  display: flex;
  margin-bottom: 16px;
}
.l-header__menu-list {
  display: flex;
}
.l-header__menu-item {
  vertical-align: middle;
  margin-right: 30px;
  text-align: center;
  position: relative;
}
.l-header__menu-item:hover {
  cursor: pointer;
}
.l-header__menu-item a {
  color: #8F8F8F;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}
.l-header__menu-item:last-child {
  margin-right: 0;
  margin-left: 30px;
}
.l-header__menu-item:last-child:before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 50px;
  background-color: #D8D8D8;
  display: inline-block;
  top: 0;
  left: -30px;
}
.l-header__menu-icon {
  width: 55px;
  display: flex;
  margin: auto;
  background-color: #F7F7F7;
  border-radius: 25%;
  padding: 3px;
  position: relative;
}

/*--------------------------------------*
 * inner
 *--------------------------------------*/
.c-inner {
  margin: 0 auto;
  padding: 24px 15%;
}
.c-inner__header {
  padding: 24px 15% 0 15%;
}

/*--------------------------------------*
 * button
 *--------------------------------------*/
.c-btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  border: none;
  line-height: 1.3;
}
.c-btn:hover {
  cursor: pointer;
  transition: all 0.3s;
}

/*--------------------------------------*
 * section
 *--------------------------------------*/
.c-section {
  padding: 5% 15%;
  width: 100%;
  box-sizing: border-box;
}
.c-section__inner {
  margin: 0 auto;
}
.c-section__box {
  background-color: #fffdf9;
  border-radius: 2px;
  box-shadow: 0 2px 10px 1px #D8D8D8;
  padding: 5% 10%;
  border: 1px solid #F7F7F7;
}
.c-section__boxInner {
  margin: 2em auto;
  width: 75%;
}
.c-section__title {
  color: #00325C;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}
.c-section__formItem {
  margin: 0 auto 1.5em auto;
}
.c-section__formTitleWrap {
  align-items: baseline;
  margin-bottom: 0.25em;
}
.c-section__formTitle {
  color: #576573;
  font-size: 16px;
  font-weight: bold;
}
.c-section__formLabel {
  font-size: 12px;
  padding: 0.3em;
  color: #FFFFFF;
  line-height: 2;
  border-radius: 2px;
  margin-left: 0.2em;
}
.c-section__formLabel--required {
  background-color: #ea8126;
}
.c-section__formBox {
  width: 100%;
}
.c-section__formError {
  color: #d36200;
  font-weight: bold;
  font-size: 14px;
}
.c-section__btn {
  background-color: #00325C;
  color: #FFFFFF;
  border: none;
  margin-top: 2em;
  margin: 0 auto;
}
.c-section__btn--big {
  width: 100%;
}
.c-section__btn--small {
  width: 30%;
}
.c-section__btn:hover {
  background-color: #2B4B67;
  border: none;
}
.c-section__body {
  text-align: center;
  margin-bottom: 1.5em;
  color: #576573;
  font-size: 16px;
}

.c-form__inner {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
  outline: none;
  font-weight: bold;
  box-sizing: border-box;
}

/*--------------------------------------*
 * header
 *--------------------------------------*/
.l-footer {
  color: #E0E2E5;
}
.l-footer__content {
  background-color: #576573;
  margin: 0 auto;
  padding: 12px auto;
}
.l-footer__lists {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  border-bottom: solid 0.8px #2B4B67;
  padding-bottom: 25px;
}
.l-footer__list-wrap {
  width: 374px;
}
.l-footer__list-ttl {
  font-size: 12px;
  font-weight: bold;
  margin: 8px 8px 15px 8px;
}
.l-footer__list-items > li {
  margin: 8px;
  font-size: 12px;
}
.l-footer__list-items a {
  color: #FFFFFF;
}
.l-footer__list-items a:hover {
  text-decoration: underline;
  cursor: default;
}
.l-footer__bottom-item {
  margin: 25px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-footer__logo {
  width: 140px;
}
.l-footer__copyright {
  font-size: 12px;
}

/*--------------------------------------*
 * foundation
 @use "foundation/base";
 @use "foundation/variable";
 @use "foundation/reset";

/*--------------------------------------*
 * header
 *--------------------------------------*/
/*--------------------------------------*
 * component
 *--------------------------------------*/
/*--------------------------------------*
 * project
 *--------------------------------------*/
/*--------------------------------------*
 * footer
 *--------------------------------------*/
/*--------------------------------------*
 * variable
 *--------------------------------------*/
/*--------------------------------------*
 * header
 *--------------------------------------*/
.l-header__heading {
  position: relative;
  z-index: 1;
  padding-top: 24px;
  background-color: #C5E7F5;
}
.l-header__sub-heading {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 32px;
  position: relative;
}
.l-header__logo {
  width: 149px;
}
.l-header__lang-select {
  width: 120px;
  left: 85%;
  top: 0;
  position: absolute;
  z-index: 5;
}
.l-header__lang-select.is-open {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0.5px 15px 1px #b0afaf;
}
.l-header__lang-list-selected {
  position: relative;
  text-align: center;
  color: #576573;
  font-size: 14px;
  padding: 12px 8px;
}
.l-header__lang-list-selected:hover {
  cursor: pointer;
}
.l-header__lang-list-selected::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 90px;
  width: 2px;
  height: 12px;
  background-color: #576573;
}
.l-header__lang-list-selected::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 100px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #576573;
}
.l-header__lang-list-unselected {
  display: none;
  font-size: 14px;
}
.l-header__lang-list-unselected li {
  padding: 12px 8px;
}
.l-header__lang-list-unselected li:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}
.l-header__lang-list-unselected li a {
  text-decoration: none;
  color: #576573;
}
.l-header__lang-list-unselected.is-open {
  display: block;
}
.l-header__main {
  height: 287px;
}
.l-header__main-text {
  margin: 0 32px;
  z-index: 3;
  position: relative;
}
.l-header__title {
  margin: 48px auto 29px 32px;
  z-index: 4;
  position: relative;
}
.l-header__description {
  margin-left: 32px;
  width: 47.5%;
  font-size: 14px;
}
.l-header__main-view {
  position: relative;
  top: -220px;
  z-index: 2;
  width: 1000px;
  margin: 0 auto;
}
.l-header__menu {
  background-color: #FFFFFF;
}
.l-header__menu-content {
  display: flex;
  margin: 60px auto 48px auto;
  align-items: center;
  justify-content: center;
}
.l-header__menu-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
}
.l-header__menu-nav {
  display: flex;
  margin-bottom: 16px;
}
.l-header__menu-list {
  display: flex;
}
.l-header__menu-item {
  vertical-align: middle;
  margin-right: 30px;
  text-align: center;
  position: relative;
}
.l-header__menu-item:hover {
  cursor: pointer;
}
.l-header__menu-item a {
  color: #8F8F8F;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}
.l-header__menu-item:last-child {
  margin-right: 0;
  margin-left: 30px;
}
.l-header__menu-item:last-child:before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 50px;
  background-color: #D8D8D8;
  display: inline-block;
  top: 0;
  left: -30px;
}
.l-header__menu-icon {
  width: 55px;
  display: flex;
  margin: auto;
  background-color: #F7F7F7;
  border-radius: 25%;
  padding: 3px;
  position: relative;
}

/*--------------------------------------*
 * inner
 *--------------------------------------*/
.c-inner {
  margin: 0 auto;
  padding: 24px 15%;
}
.c-inner__header {
  padding: 24px 15% 0 15%;
}

/*--------------------------------------*
 * button
 *--------------------------------------*/
.c-btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  border: none;
  line-height: 1.3;
}
.c-btn:hover {
  cursor: pointer;
  transition: all 0.3s;
}

/*--------------------------------------*
 * section
 *--------------------------------------*/
.c-section {
  padding: 5% 15%;
  width: 100%;
  box-sizing: border-box;
}
.c-section__inner {
  margin: 0 auto;
}
.c-section__box {
  background-color: #fffdf9;
  border-radius: 2px;
  box-shadow: 0 2px 10px 1px #D8D8D8;
  padding: 5% 10%;
  border: 1px solid #F7F7F7;
}
.c-section__boxInner {
  margin: 2em auto;
  width: 75%;
}
.c-section__title {
  color: #00325C;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}
.c-section__formItem {
  margin: 0 auto 1.5em auto;
}
.c-section__formTitleWrap {
  align-items: baseline;
  margin-bottom: 0.25em;
}
.c-section__formTitle {
  color: #576573;
  font-size: 16px;
  font-weight: bold;
}
.c-section__formLabel {
  font-size: 12px;
  padding: 0.3em;
  color: #FFFFFF;
  line-height: 2;
  border-radius: 2px;
  margin-left: 0.2em;
}
.c-section__formLabel--required {
  background-color: #ea8126;
}
.c-section__formBox {
  width: 100%;
}
.c-section__formError {
  color: #d36200;
  font-weight: bold;
  font-size: 14px;
}
.c-section__btn {
  background-color: #00325C;
  color: #FFFFFF;
  border: none;
  margin-top: 2em;
  margin: 0 auto;
}
.c-section__btn--big {
  width: 100%;
}
.c-section__btn--small {
  width: 30%;
}
.c-section__btn:hover {
  background-color: #2B4B67;
  border: none;
}
.c-section__body {
  text-align: center;
  margin-bottom: 1.5em;
}

.c-form__inner {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-size: 14px;
  color: #333333;
  outline: none;
  font-weight: bold;
  box-sizing: border-box;
}

/*--------------------------------------*
 * header
 *--------------------------------------*/
.l-footer {
  color: #E0E2E5;
}
.l-footer__content {
  background-color: #576573;
  margin: 0 auto;
  padding: 12px auto;
}
.l-footer__lists {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  border-bottom: solid 0.8px #2B4B67;
  padding-bottom: 25px;
}
.l-footer__list-wrap {
  width: 374px;
}
.l-footer__list-ttl {
  font-size: 12px;
  font-weight: bold;
  margin: 8px 8px 15px 8px;
}
.l-footer__list-items > li {
  margin: 8px;
  font-size: 12px;
}
.l-footer__list-items a {
  color: #FFFFFF;
}
.l-footer__list-items a:hover {
  text-decoration: underline;
  cursor: default;
}
.l-footer__bottom-item {
  margin: 25px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-footer__logo {
  width: 140px;
}
.l-footer__copyright {
  font-size: 12px;
}

/*--------------------------------------*
 * foundation
 @use "foundation/base";
 @use "foundation/variable";
 @use "foundation/reset";

/*--------------------------------------*
 * header
 *--------------------------------------*/
/*--------------------------------------*
 * component
 *--------------------------------------*/
/*--------------------------------------*
 * project
 *--------------------------------------*/
/*--------------------------------------*
 * footer
 *--------------------------------------*/
