/*--------------------------------------*
 * section
 *--------------------------------------*/
@use "../../foundation/variable" as *;

.c-section {
    padding: 5% 15%;
    width: 100%;
    box-sizing: border-box;

    &__inner {
        margin: 0 auto;
    }

    &__box {
        background-color: $c-ivory-01;
        border-radius: 2px;
        box-shadow: 0 2px 10px 1px $c-light-gray-03;
        padding: 5% 10%;
        border: 1px solid $c-light-gray-01;
    }

    &__boxInner {
        margin: 2em auto;
        width: 75%;
    }

    &__title {
        color: $c-dark-navy-01;
        font-size: $font-l;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1em;
        font-weight: bold;
    }

    &__formItem {
        margin: 0 auto 1.5em auto;
    }

    &__formTitleWrap {
        align-items: baseline;
        margin-bottom: 0.25em;
    }

    &__formTitle {
        color: $c-dark-gray;
        font-size: $font-m;
        font-weight: bold;
    }

    &__formLabel {
        font-size: $font-xs;
        padding: 0.3em;
        color: $c-white;
        line-height: 2;
        border-radius: 2px;
        margin-left: 0.2em;

        &--required {
            background-color: $c-orange-01;
        }
    }

    &__formBox {
        width: 100%;
    }

    &__formError {
        color: $c-orange-02;
        font-weight: bold;
        font-size: $font-ms;
    }

    &__radioBtn {
        display: none;

        &:checked+label {
            background-color: $c-dark-gray;
            border: 2px solid $c-dark-gray;
            color: $c-white;
        }

        &:hover+label {
            cursor: pointer;
        }
    }

    &__radioBtnLabel {
        background-color: $c-white;
        border: 2px solid $c-dark-gray;
        border-radius: 20px;
        padding: 2px 15px;
        color: $c-dark-gray;
        font-size: $font-ms;
        font-weight: bold;
    }

    &__btn {
        background-color: $c-dark-navy-01;
        color: $c-white;
        border: none;
        margin-top: 2em;
        margin: 0 auto;

        &--big {
            width: 100%;
        }

        &--small {
            width: 30%;
        }

        &:hover {
            background-color: $c-dark-navy-02;
            border: none;
        }

        a {
            text-decoration: none;
            color: $c-white;
        }
    }

    &__body {
        text-align: center;
        margin-bottom: 1.5em;
        color: $c-dark-gray;
        font-size: $font-m;
    }
}
